@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome! </h1>
    <p>Let's find out your stats!</p>
    <form asp-controller="WebAPI" asp-action="MakeGamer">
        <label for="g-tag">Gamer-Tag:</label><br />
        <input type="text" id="gtag" name="gtag" /><br />
        <input type="submit" value="submit"/>
    </form>
</div>
